<launch>
    <!-- Arguments -->
    <arg name="base_frame" default="base_link"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="map_frame" default="map"/>
    <!-- gmapping expects the laser scan on the scan topic -->
    <arg name="scan_topic" default="scan"/>
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="map_frame" value="$(arg map_frame)"/>
        <rosparam command="load" file="$(find astrobot_slam)/config/gmapping_parameter.yaml" />
        <!-- remappings -->
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>